
@media  screen {

    .section1 .container {max-width: 100%;}

    .section2 .container {max-width: 80%;}

    .section3 .container {
        max-width: 90%;
        padding: 0;
    }

    .section4 .container {
        max-width: 90%;
        padding: 0;
    }

    .section5 .container {
        max-width: 90%;
        padding: 0;
    }

    .section6 .container {
        max-width: 80%;
    }

    .section7 .container {
        max-width: 100%;
    }
    
}

@media screen and  (max-width:400px) {

    .banner_title {
        font-size: 5vw;
    }

    .banner_title h2 {
        font-size: 15vw;
    }
    .section1 h3 {
        font-size: 5vw;
    }

    .section1 h2 {
        font-size: 10vw;
        line-height: 40px
    }

    .background-section2 {
        width: 100%;
        height: 100%;
    }

    .section2-card {
        display: block;
        top: 0;
        padding: 100px 0px;
    }

    .section2-card h2 {
        padding-top: 30px;
        font-size: 20vw;
    }

    .section2-card p {
        font-size: 7vw;
    }

    .section2-card1 {
        width: 90%;
        margin: 0 auto;
    }

    .section3-card1 {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0px;
    }

    .section3-card1 .card-body svg {
        width: 15vw;
    }

    .section3-card1 .card-body h3 {
        font-size: 8vw;
    }

    .section3-card1 .card-body p {
        font-size: 5vw;
    }

    .section3-card1 .card-body {
        padding: 0px 5px 30px 5px;
        text-align: center;
    }

    .section3-card2 {
        width: 90%;
        margin: 0 auto;
    }

    .section3-card2 .card-body {
        padding: 0px 0px 30px 0px;
    }
    
    .section3-card2 .card-body h3 {
        font-size: 5vw;
    }

    .section3-card2 .card-body h2 {
        font-size: 8vw;
        margin: 0;
        line-height: 30px;
    }

    .section3-card2 .card-body p {
        font-size: 5vw;
    }

    .section3-card2 .card-body a {
        font-size: 4vw;
        padding: 0;   
        line-height: 0;
    }
    .section3-card2 .card-body a svg {
        width: 10px;
    }

    .section4-title h3 {
        font-size: 5vw;
    }

    .section4-title h2 {
        font-size: 10vw;
        line-height: 40px;
    }

    .section4-card1 .card-body {
        text-align: center;
        padding: 30px 10px 35px 10px;
    }

    .section4-card1 .card-body h3 a {
        font-size: 7vw;
    }

    .section4-card1 .card-body p {
        font-size: 5vw;
    }

    .section4-card1 .card-body a {
        font-size: 7vw;
    }

    .section4-card1 .card-body a svg {
        width: 15px;
    }

    .section5-title h3 {
        font-size: 5vw;
    }

    .section5-title h2 {
        font-size: 7vw;
    }

    .icon-section5 {
        font-size: 5vw;
    }

    .section5-card1 .card-body svg {
        width: 5vw;
    }

    .section5-card1 .card-body {
        padding: 20px 10px 40px 13px;
    }

    .section5-card1 .card-body h3 {
        font-size: 5vw;
    }

    .footer-card-btn-section5 {
        text-align: center;
        width: 100%;
    }

    .section5-card1 .card-body .footer-card {
        font-size: 5vw;
        width: 100%;
        display: block;
        text-align: center;
    }

    .footer-setion5 a {
        width: 65%;
        font-size: 5vw;
        padding: 10px 0px;
    }

    .section6-title h3 {
        font-size: 5vw;
    }

    .section6-title h2 {
        font-size: 7vw;
    }

    .section6-right img {
        margin-left: 0;
        width: 80%;
        height: 50%;
        margin-top: 10vw;
    }

    .section6 .container {
        max-width: 100%;
    }

    .section6-contend {
        width: 100%;
        margin: 0;
    }

    .section6-right {
        width: 100%;
        border-radius: unset;
        text-align: center;
        padding-bottom: 50px;
    }

    .section6-right-title {
        float: none;
        width: 100%;
        padding: 20px 10px 0px 10px;
        margin: 0px 0px 0px 0px;
    }

    .section6-right-title p {
        font-size: 5vw;
        font-weight: 500;  
    }

    .section6-right-btn1-title h3 {
        font-size: 4vw;
        margin-top: 0.5rem;
    }

    .section6-right-btn1  {
        width: 100%;
        margin: 20px 0px;
        padding: 10px 0px;
    }

    .section6-right-btn1 svg {
        width: 25%;
        margin-left: 0px;
    }

    .section7-contend {
        display: block;
        padding: 20px 0px;
    }

    .section7-contend h2 {
        font-size: 9vw;
        margin: 0;
    }

    .section7-btn {
        padding: 10px 0px;  
    }

    .btn1 {
        font-size: 5vw;
        width: 15%;
        padding: 10px 5px;
    }

    .btn1 i {
        font-size: 4vw;
    }
    
    .btn2 {
        font-size: 5vw;
        width: 40%;
        padding: 10px 5px;
    }

    .btn2 i {
        font-size: 4vw;
    }

    
}

@media  (min-width: 401px) and (max-width: 600px) {

    .section1 h3 {
        font-size: 20px;
    }

    .section1 h2 {
        font-size: 30px;
        line-height: 40px
    }

    .background-section2 {
        width: 100%;
        height: 100%;
    }

    .section2-card {
        display: block;
        top: 0;
        padding: 100px 0px;
    }

    .section2-card h2 {
        padding-top: 30px;
    }

    .section2-card p {
        font-size: 5vw;
    }

    .section2-card1 {
        width: 90%;
        margin: 0 auto;
    }

    .section3-card1 {
        padding: 20px 10px;
    }

    .section3-card2 .card-body {
        padding: 30px 0px 30px 0px;
    }

    .section3-card2 .card-body h3 {
        font-size: 20px;
    }

    .section3-card2 .card-body h2 {
        font-size: 30px;
    }

    .section3-card2 .card-body p {
        font-size: 16px;
        font-weight: 500;
    }
    
    .section3-card2 {
        width: 95%;
        margin: 0 auto;
    }

    .section4-title h3 {
        font-size: 20px;
    }

    .section4-title h2 {
        font-size: 30px;
        line-height: 40px
    }

    .section4-card1 .card-body {
        padding: 30px 35px 35px 40px;
    }

    .section4-card1 .card-body h3 a {
        font-size: 25px;
    }

    .section4-card1 .card-body p {
        font-size: 18px;
    }

    .section5-title h3 {
        font-size: 20px;
    }

    .section5-title h2 {
        font-size: 30px;
    }

    .section5-card1 .card-body h3 {
        font-size: 22px;
    }

    .section5-card1 .card-body .footer-card {
        font-size: 15px;
        width: 280px;
    }

    .footer-setion5 a {
        width: 65%;
    }

    .section6 .container {
        max-width: 100%;
    }

    .section6-title h3 {
        font-size: 20px;
    }

    .section6-title h2 {
        font-size: 30px;
    }

    .section6-contend {
        width: 100%;
        margin: 0;
    }

    .section6-right {
        width: 100%;
        border-radius: unset;
        text-align: center;
        padding-bottom: 50px;
    }

    .section6-right img {
        margin-left: 0;
        width: 80%;
        height: 50%;
    }

    .section6-right-title {
        float: none;
        width: 85%;
        padding: 50px 0px 0px 0px;
        margin: 0px 0px 0px 30px;
    }

    .section6-right-title p {
        font-size: 17px;
        
    }

    .section6-right-btn1-title h3 {
        font-size: 17px;
    }

    .section6-right-btn1  {
        width: 100%;
    }

    .section6-right-btn1 svg {
        width: 25%;
        margin-left: 0px;
    }

    .section7-contend {
        display: block;
        height: 200px;
    }

    .section7-contend h2 {
        font-size: 25px;
        margin: 0;
    }

    .section7-btn {
        padding: 11px 0px;
    }

    .btn1 {
        width: 30%;
        padding: 10px 0px;
    }
    
    .btn2 {
        width: 40%;
        padding: 10px 0px;
    }
}

@media  (min-width: 601px) and (max-width: 1000px) {

    .section3-product {
        margin-bottom: 20px;
    }

    .section3-card1 {
        margin: 0px 0px;
    }

    .section3-card1 .card-body h3 {
        font-size: 3vw;
    }

    .section3-card1 .card-body p {
        font-size: 2vw;
    }

    .section3-card2 .card-body {
        padding: 30px 0;
    }
    
    .section3-card2 .card-body h3 {
        font-size: 2vw;
    }

    .section3-card2 .card-body h2 {
        margin: 0;
        font-size: 3vw;
        line-height: 1;
    }

    .section3-card2 .card-body p {
        margin: 0;
        padding: 20px 0px;
    }

    .section3-card2 .card-body a {
        font-size: 15px;
    }
    
    .section2-card p {
        font-size: 2vw;
    }

    .section3-card2 {
        width: 100%;
        margin: 0 auto;
    }
    
    .section4-title h2 {
        font-size: 40px;
    }

    .footer-setion5 a {
        width: 40%;
    }

    .section6 .container {
        max-width: 100%;
    }

    .section6-contend {
        width: 100%;
        margin: 0;
    }

    .section6-right {
        width: 100%;
        border-radius: unset;
        text-align: center;
    }

    .section6-right img {
        margin-left: 0;
        width: 80%;
        height: 50%;
    }

    .section6-right-title {
        float: none;
        width: 85%;
        padding: 10px 60px 0px 60px;
        margin: 50px 60px 0px 60px;
    }

    .section6-right-title p {
        font-size: 17px;
        
    }

    .section6-right-btn1 {
        margin: 50px auto;
        width: 100%;
    }

    .section7-contend h2 {
        font-size: 30px;
        padding: 15px 0px;
    }

    .btn1 {
        width: 35%;
        padding: 25px 0px;
    }
    
    .btn2 {
        width: 50%;
        padding: 25px 0px;
    } 
}


@media  (min-width: 1001px) and (max-width: 1200px){
    
    .background-section2 {
        width: 100%;
    }

    .section2-card {
        width: 100%;
    }

    .section3-card1 {
        padding: 0;
        margin: 20px 0px;
    }

    .section3-card1 .card-body svg {
        width: 40px;
    }

    .section3-card1 .card-body h3 {
        font-size: 25px;
    }
    
    .section3-card1 .card-body p {
        font-size: 16px;
        font-weight: 400;
    }

    .section3-card2 {
        padding: 0;
        margin: 20px 0px;
        height: 91%;
    }
    
    .section3-card2 .card-body {
        padding: 27px 30px 27px 35px;
    }

    .section3-card2 .card-body h3 {
        font-size: 18px;
    }
    
    .section3-card2 .card-body h2 {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 400;
        line-height: 25px;
    }
    
    .section3-card2 .card-body p {
        font-size: 17px;
    }

    .section3-card2 .card-body a {
        font-size: 1vw;
        padding: 10px 0px;
    }

    .section4 {
        padding-bottom: 100px;
    }

    .section4-title h3{
        font-size: 18px;
    }
    
    .section4-title h2 {
        font-size: 45px;
    }

    .section4-card {
        width: 100%;
    }

    .section4-card1 {
        padding: 0;
    }

    .section4-card1 .card-body h3 a{
        font-size: 20px;
    }

    .section4-title h2 {
        font-size: 45px;
    }

    .section4-card1 .card-body {
        padding: 30px 10px 35px 40px;
    }

    .section4-card1 .card-body p {
        font-size: 15px;
    }

    .section4-card1 .card-body a {
        font-size: 17px;
    }

    .section4-card1 .card-body a svg {
        width: 30px;
        height: 20px;
    }

    .section5-title {
        padding: 100px 0px 30px 0px 
    }

    .section5-title h3{
        font-size: 20px;
    }
    
    .section5-title h2 {
        margin-bottom: 40px;
        font-size: 45px;
    }

    .section5-card {
        width: 100%;
    }

    .section5-card1 {
        width: 100%;
    }

    .section5-card1 .card-body {
        padding: 20px 5px 40px 33px;
    }

    .section5-card1 .card-body svg {
        width: 15px;
    }
    
    .icon-section5 {
        font-size: 17px;
    }

    .section5-card1 .card-body h3 {
        font-size: 20px;
    }

    .footer-card-icon-section5 {
        width: 150%;
    }

    .footer-card-icon-section5 i{
        font-size: 17px;
    }
    
    .footer-card-icon-section5 {
        width: 200%;
    }

    .section5-card1 .card-body .footer-card {
        font-size: 17px;
    }

    .footer-card-btn-section5 {
        text-align: center;
    }

    .footer-card-btn-section5 a {
        padding: 0px 10px;
    }

    .footer-setion5 a{
        font-size: 15px;
        width: 25%;
    }

    .section6 {
        padding-top: 50px;
    }

    .section6-title h3{
        font-size: 20px;
    }
    
    .section6-title h2 {
        font-size: 45px;
    }
    
    .section6-right img  {
        width: 450px;
        margin-top: 100px;
        margin-left: 0;
    }

    .section6 .container {
        max-width: 100%;;
        padding: 0;
        margin: 0;
    }

    .section6-right-title {
        width: 50%;
        padding-left: 50px;
        padding-right: 50px
    }

    .section6-right-title p {
        font-size: 16px;
    }

    .section6-contend {
        width: 100%;
        background-color: #3362A7;
        margin: 0;
    }


    .section6-right-btn1 {
        width: 100%;
        margin: 30px 0px;
        padding: 20px 0px 20px 10px;
        
    }

    .section6-right-btn1-title h3 {
        font-size: 20px;
        padding-top: 10px;
        text-align: right;
        line-height: 30px;
    }

    .section6-right-btn1-icon {
        padding-top: 10px;
    }
    
    .section6-right-btn1 svg {
        margin-left: 50px;
        width: 30%;
        
    }

    .section7-contend {
        padding: 50px 0px;
    }

    .section7-contend h2 {
        margin-top: 10px;
    }

    .section7-btn {
        display: inherit;
    }

    .btn1{
        width: 25%;
        padding: 15px 0px;
        font-size: 17px;
        margin-right: 10px;
    }

    .btn1 i {
        font-size: 15px;
    }

    .btn2{
        width: 40%;
        padding: 15px 0px;
        font-size: 17px;
    }

    .btn2 i {
        font-size: 15px;
    }
}

@media  (min-width: 1201px) and (max-width: 1709px) {

    .section2-card {
        width: 100%;
    }
    

    .section3-card1 {
        margin: 0;
    }

    .section3-card1 .card-body h3 {
        font-size: 30px;
    }

    .section3-card2 .card-body {
        padding: 50px 30px
    }

    .section3-card2 .card-body h3 {
        font-size: 20px;
    }
    
    .section3-card2 .card-body h2 {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 400;
        line-height: 25px;
    }
    
    .section3-card2 .card-body p {
        font-size: 17px;
    }

    .section3-card2 .card-body a {
        font-size: 1vw;
        padding: 10px 0px;
    }

    .section5-card1 .card-body {
        padding: 20px 5px 40px 33px;
    }

    .footer-card-icon-section5 {
        width: 165%;
    }

    .footer-card-btn-section5 {
        text-align: center;
    }
    
    .section6 {
        padding-bottom: 100px;
    }

    .section6 .container {
        max-width: 80%;
    }
    
    .section6-title {
        text-align: center;
    }
    
    .section6-title h3{
        color: #EE8C1C;
        font-family: "Roboto", Sans-serif;
        font-size: 25px;
        font-weight: 700;
        margin: 0px 0px 7px 0px;
    }
    
    .section6-title h2 {
        color: #080119;
        margin-bottom: 50px;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.2px;
        font-family: 'Playfair Display', serif;
    }
    
    .section6-contend {
        width: 90%;
    }
    
    .section6-right img {
        width: 60%;
        height: 500px;
        margin-top: 90px;
        margin-left: -200px;
        border-radius: 8px;
    }
    
    .section6-right {
        background-color: #3362A7;
        width: 80%;
        border-radius: 0 8px 8px 0px;
        padding-bottom: 100px;
    }
    
    .section6-right-title {
        width: 55%;
        float: right;
        margin-top: 100px;
    }
    
    .section6-right-title p {
        color: #FFFFFFC4;
        font-size: 17px;
    }
    
    .section6-right-btn1 {
        background-color: #02010100;
        padding: 15px 0px 15px 30px;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: #FFFFFF38;
        width: 85%;
        margin: 50px 0px;
    }
    
    .section6-right-btn1 a {
        display: flex;
    }
    
    .section6-right-btn1-title {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: bold;
        width: 180%;
    }

    .section6-right-btn1-title h3 {
        font-size: 20px;
        text-align: right;
    }
    
    .section6-right-btn1 svg {
        color: #EE8C1C;
        background-color: white;
        border-radius: 30px;
        width: 20%;
        margin-left: 50px;
    }

    .section7 .container {
        max-width: 80%;
    }

}